  .Galeria {
  
  
  width: 100%;
  padding:0px;
  
  font-size: 18px;
  

}

  .cajas{
      width: 16%;
      margin: 25px;
      height: auto;
      background: black;
     
      

    
  }

  
   .con-cajas{
   display: flex;
   align-items: center;
   justify-content: center;
 }